/* General Styles */

body {
  font-family: Bangers, sans-serif;
  margin: 0;
}

/* Navbar Styles */
header {
  background-color: #646cff;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
}
header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #f7a310;
}

header nav {
  display: flex;
  gap: 15px;
}

header nav a,
header nav button {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
  background: none;
  cursor: pointer;
}

header nav button {
  background-color: #f7a310;
  border-radius: 5px;
}

header nav a:hover,
header nav button:hover {
  text-decoration: underline;
}
main {
  padding-top: 70px;
}

form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

form h2 {
  margin-bottom: 20px;
  text-align: center;
}

form input {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

/* Create Post Styles */
.create-post {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.create-post h2 {
  margin-bottom: 20px;
  text-align: center;
}

.create-post #post-title input {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#post-image {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
}

.choose-file {
  margin-left: 10px;
}

.create-post button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-post button:hover {
  background-color: #555;
}
/* Course List Styles */
div {
  padding: 20px;
}

h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  /* height: 500px;
  width: 400px; */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .card-image {
  max-width: 100%;
  max-height: 300px; 
  height: auto;
  border-radius: 8px;
} */
/* .card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
} */

.card-description {
  font-size: 1rem;
  color: #666;
}
.card-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

/* .post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
} */

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.delegate-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.likes-count {
  margin-left: 5px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  padding: 0 10px;
}

.text-content {
  max-width: 600px;
}

.heading-large {
  font-size: 6rem;
  margin: 0;
  line-height: 1.2;
}

.subheading {
  font-size: 2rem;
  margin: 40px 0 50px;
}

.cta-button {
  text-decoration: none;
  color: white;
  padding: 10px 40px;
  border-radius: 24px;
  font-size: 1.25rem;
}

/* Brand Image Styles */
.brand-image {
  display: none;
}

.share-popup {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
  background: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.icon {
  cursor: pointer;
  margin: 5px;
  font-size: 20px;
  color: #646cff;
  justify-content: space-around;
}

.share-container .icon:hover {
  color: #007bff;
}
:root {
  --header-height: 60px;
  --footer-height: 40px;
}

.login-page {
  height: calc(100vh - var(--header-height) - var(--footer-height));
  top: var(--header-height);
}
@media (min-width: 768px) {
  .main-container {
    padding: 0 200px;
  }

  .brand-image {
    display: block;
    margin-top: 150px;
  }
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}
