.create-post-page {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/upload.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.create-post {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
}

#create-post h2 {
  margin-bottom: 20px;
}

#post-title,
#post-image {
  margin-bottom: 15px;
}

button {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #d3d3d3;
}
