* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #646cff;
  color: #b3b3b3;
  font-size: 30%;
  padding: 20px;
  width: 100%;
  text-align: center;
  /* position: fixed; */
  /* bottom: 0; */
  /* left: 0; */
  /* z-index: 1000; */
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.footerNav {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0;
  
}

.footerNav li {
  display: inline-block;
  
}

.footerNav li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  
}

.footerNav li a:hover {
  color: #f7a310;
}

.footerSocial {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.footerSocial li a {
  color: #b3b3b3;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footerSocial li a:hover {
  color: #f7a310;
}

.copyright {
  font-size: 0.9rem;
  margin-top: 5px;
}
